<header class="post-header"
    data-stellar-background-ratio=".5"
    data-stellar-vertical-offset="300">

    {{#post}}

            {{#if @blog.logo}}
                </a>
            {{/if}}


        <div class="post-header-content">
            <div class="post">

                <h1 class="post-title">{{{title}}}</h1>

                <div class="post-meta">
                    <time datetime="{{date format="YYYY-MM-DD"}}">
                        {{date format='DD MMM YYYY'}}
                    </time>
                    {{tags prefix="on " separator=" | "}}
                </div>

            </div>
        </div>

    {{/post}}
</header>
