/* ==========================================================================
   Pagination - Tools to let you flick between pages
   ========================================================================== */

/* The main wrapper for our pagination links */
.pagination {
  position: relative;
  margin: 4rem auto;
  max-width: 700px;
  width: 80%;
  color: #9EABB3;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif;
}

.pagination a {
  color: #9EABB3;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: #EBF2F6 2px solid;
  border-radius: 30px;
  text-decoration: none;
  transition: border ease 0.3s;
}

.older-posts {
  right: 0;
}

.page-number {
  display: inline-block;
  padding: 2px 0;
}

.newer-posts {
  left: 0;
}

.older-posts:hover,
.newer-posts:hover {
  border-color: #9EABB3;
}
