/* ==========================================================================
   Footer - The bottom of every page
   ========================================================================== */

.poweredby .icon-ghost {
  text-decoration: none;
  font-weight: 700;

  &:hover { text-decoration: none; }
}

.poweredby .icon-ghost:before {
  margin-right: 0.2em;
  font-size: 1rem;
}

/* The subscribe icon on the footer */
.subscribe {
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -15px;
  width: 28px;
  height: 28px;
  border: $color-border 1px solid;
  background: #fff;
  text-align: center;
  line-height: 2.4rem;
  transition: box-shadow 0.5s;
  @include border-radius($border-radius-lg);
}

/* The RSS icon, inserted via icon font */
.subscribe:before {
  position: absolute;
  top: 9px;
  left: 9px;
  color: $color-subscribe;
  font-weight: bold;
  font-size: 10px;
  transition: color 0.5s ease;
}

/* Add a box shadow to on hover */
.subscribe:hover {
  box-shadow: $color-subscribe-shadow 0 0 0 3px;
  transition: box-shadow 0.25s;
}

.subscribe:hover:before { color: $color-footer-text-hover; }

/* CSS tooltip saying "Subscribe!" - initially hidden */
.tooltip {
  position: absolute;
  top: -23px;
  left: -21px;
  display: inline-block;
  padding: 4px 8px 5px 8px;
  background: $color-footer-text-hover;
  box-shadow: 0 1px 4px $color-shadow;
  color: rgba(255,255,255,0.9);
  text-align: center;
  font-size: 1.1rem;
  line-height: 1em;
  opacity: 0;
  transition: opacity 0.3s ease, top 0.3s ease;
  @include border-radius($border-radius-lg);
}

/* The little chiclet arrow under the tooltip, pointing down */
.tooltip:after {
  position: absolute;
  bottom: -4px;
  left: 50%;
  z-index: 220;
  display: block;
  margin-left: -5px;
  width: 0;
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: $color-footer-text-hover transparent;
  content: "";
}

/* On hover, show the tooltip! */
.subscribe:hover .tooltip {
  top: -33px;
  opacity: 1;
}
