/* ==========================================================================
   Mixins
   ========================================================================== */

/*
   Layout
   ========================================================================== */

/**
 * Media Queries mixin - Smaller than 500px
 */

@mixin screen-sm {
  @media only screen and (max-width: $screen-sm) {
    @content;
  }
}

/**
 * Media Query mixin - Smaller than 900px
 */

@mixin screen-lg {
  @media only screen and (max-width: $screen-lg) {
    @content;
  }
}

/**
 * Border Radius
 */

@mixin border-radius($value) {
  -webkit-border-radius: $value;
     -moz-border-radius: $value;
          border-radius: $value;
}

/**
 * Misc
 */

@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
