/* ==========================================================================
   Pagination - Tools to let you flick between pages
   ========================================================================== */

/* The main wrapper for our pagination links */
.pagination {
  position: relative;
  margin: 4rem auto;
  max-width: 700px;
  width: 80%;
  color: $color-meta;
  text-align: center;
  font-size: 1.3rem;
  font-family: $font-family-sans-serif;

  @include screen-sm {
    margin-right: 16px;
    margin-left: 16px;
    width: auto;
  }
}

.pagination a { color: $color-meta; }

/*
   Older/Newer posts
   ========================================================================== */

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: $color-border 2px solid;
  text-decoration: none;
  transition: border ease 0.3s;

  @include border-radius($border-radius-lg);

  @include screen-sm {
    position: static;
    margin: 10px 0;
  }

  &:hover { border-color: $color-primary; }
}

.older-posts { right: 0; }
.newer-posts { left: 0; }

/*
   Page number
   ========================================================================== */

.page-number {
  display: inline-block;
  padding: 2px 0;

  @include screen-sm { display: block; }
}
