/* ==========================================================================
   Publish
   ========================================================================== */

.publish-meta {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4.3rem 0 4rem 0;
  text-align: right;
}

.publish-heading {
  display: block;
  font-weight: bold;
}

.publish-date {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5em;
}
