/* ==========================================================================
   Variables
   ========================================================================== */

/**
 * Media queries
 */

$screen-lg:               900px;
$screen-sm:               500px;

/**
 * Border Radius
 */

$border-radius-sm:        2px;
$border-radius-md:        3px;
$border-radius-lg:        100px; // Capsule

/**
 * Colors
 */

$color-base:              #000;

$color-gray-darker:       lighten($color-base, 13.5%);   // #222
$color-gray-dark:         lighten($color-base, 20%);     // #333
$color-gray:              lighten($color-base, 33.5%);   // #555
$color-gray-light:        lighten($color-base, 60%);     // #999
$color-gray-lighter:      lighten($color-base, 93.5%);   // #eee — Mainly for strokes and borders

/* Main colors */
$color-text:              #3A4145;
$color-primary:           #E64B17;
$color-meta:              $color-gray-light; // #9EABB3;
$color-shadow:            rgba(0,0,0,.15);
$color-border:            $color-gray-lighter;

/* Misc colors */
$color-twitter:           rgb(58,172,238);
$color-facebook:          rgb(59,89,152);
$color-subscribe:         #D2DEE3;
$color-subscribe-shadow:  rgba(0,0,0,.05);

/* Background colors */
$body-bg:                 #FFF;
$cover-bg:                $color-gray-dark;
$footer-bg:               rgb(253, 247, 238); // #F7F7F7; // #F7FAFB;

/* Footer colors */
$color-footer-text:       darken($footer-bg, 15%); //CCC //#BBC7CC;
$color-footer-text-hover: rgb(71, 60, 41); //darken($footer-bg, 40%);  // #50585D

/**
 * Typography
 */

$font-family-sans-serif:  'Open Sans', sans-serif;
$font-family-serif:       'Noto Serif', serif;
$font-family-monospace:   Inconsolata, monospace, sans-serif;

$font-size-base:          1rem;
$font-size-large:         .2rem;
// $font-size-small:         2rem;

$font-size-h1:            ($font-size-base * 5);    // 50px
$font-size-h2:            ($font-size-base * 4);    // 40px
$font-size-h3:            ($font-size-base * 3.5);  // 35px
$font-size-h4:            ($font-size-base * 3);    // 30px
$font-size-h5:            ($font-size-base * 2.5);  // 25px
$font-size-h6:            ($font-size-base * 2);    // 20px

$font-size-h1-lg:         ($font-size-h1 - $font-size-large); // 48px
$font-size-h1-sm:         ($font-size-h1 - 2rem);             // 30px

$font-size-h2-lg:         ($font-size-h2 - $font-size-large); // 38px
$font-size-h2-sm:         ($font-size-h2 - $font-size-base);  // 30px

$font-size-h3-lg:         ($font-size-h3 - $font-size-large); // 33px
$font-size-h3-sm:         ($font-size-h3 - $font-size-base);  // 28px

$font-size-h4-lg:         ($font-size-h4 - $font-size-large); // 28px
$font-size-h4-sm:         ($font-size-h4 - .7rem);            // 23px
