/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Media Queries
   ========================================================================== */

$screen-lg:               900px;
$screen-sm:               500px;

/*
   Border Radius
   ========================================================================== */

$border-radius-sm:        2px;
$border-radius-md:        3px;
$border-radius-lg:        100px; // Capsule

/*
   Colors
   ========================================================================== */

$color-base:              #000; // Black

/**
 * Grayscale
 */

$color-gray-darker:       lighten($color-base, 13.5%);  // #222
$color-gray-dark:         lighten($color-base, 20%);    // #333
$color-gray:              lighten($color-base, 33.5%);  // #555
$color-gray-light:        lighten($color-base, 60%);    // #999
$color-gray-lighter:      lighten($color-base, 93.5%);  // #eee

/**
 * Main
 */

$color-text:              #3A4145;
$color-muted:             #CAC1AC;
$color-muted-hover:       darken($color-muted, 30%);

$color-primary:           #E64B17;
$color-secondary:         #463E2D;

$color-shadow:            rgba(0,0,0,.15);
$color-border:            lighten($color-secondary, 68%);

/**
 * Misc
 */

$color-twitter:           rgb(58,172,238);
$color-facebook:          rgb(59,89,152);
$color-subscribe:         lighten($color-muted, 10%);
$color-subscribe-shadow:  rgba(0,0,0,.05);

/**
 * Background
 */

$body-bg:                 #FFF; // White
$cover-bg:                $color-gray-dark;
$footer-bg:               #FDF8F2; // Beige

/*
   Typography
   ========================================================================== */

/**
 * Font family
 */

$font-family-sans-serif:  'Open Sans', sans-serif;
$font-family-serif:       'Noto Serif', serif;
$font-family-monospace:   Inconsolata, monospace, sans-serif;

/**
 * Font size
 */

$font-size-base:          1rem;
$font-size-lg:            .2rem;
$font-size-sm:            $font-size-base;

$font-size-h1:            ($font-size-base * 5);    // 50px
$font-size-h2:            ($font-size-base * 4);    // 40px
$font-size-h3:            ($font-size-base * 3.5);  // 35px
$font-size-h4:            ($font-size-base * 3);    // 30px
$font-size-h5:            ($font-size-base * 2.5);  // 25px
$font-size-h6:            ($font-size-base * 2);    // 20px

$font-size-h1-lg:         ($font-size-h1 - $font-size-lg); // 48px
$font-size-h1-sm:         ($font-size-h1 - 2rem);          // 30px

$font-size-h2-lg:         ($font-size-h2 - $font-size-lg); // 38px
$font-size-h2-sm:         ($font-size-h2 - $font-size-sm); // 30px

$font-size-h3-lg:         ($font-size-h3 - $font-size-lg); // 33px
$font-size-h3-sm:         ($font-size-h3 - $font-size-sm); // 28px

$font-size-h4-lg:         ($font-size-h4 - $font-size-lg); // 28px
$font-size-h4-sm:         ($font-size-h4 - .7rem);         // 23px
